.page-layout {
    display: flex;
    gap: 30px;
    padding: 20px;
    align-items: flex-start;
}
.container_header_listing{
    margin: 20px;
}
.container_listings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 20px;  
}
.listing{
    border: 2px solid #1CB1B1;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.5);
    width: 300px;   
}

.container_image{
    display: flex;
    justify-content: center;
}
.image_artikel{
    padding: 10px 10px;
    max-width: 250px;
    max-height: 200px;
}
.container_linie{
    border-top: 1px solid #e9e9e9;
}

.header{
    margin: 8px 0px;
}

.header_artikel{
    text-decoration: none;
    padding: 0px 10px;
    color: #000;
}

.header_artikel:visited {
  color: #000;
}

.header_artikel:active {
  color: #000;
}
.icon_ort{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: #A8A8A8;
}
.container_ort_preis{
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.preis{
    color: #1CB1B1;
    font-weight: 800;
    font-size: 24px;
    margin: 8px 0;
}