.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 50px;
    background: #f5f5f5;
}
.container_verwalten {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;

    margin: 15px auto;
    padding: 0 50px;
    border: 2px solid #1CB1B1;
    border-radius: 10px;
    background: #fff;
}

.verwalten_icon_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
}

.container_verwalten_label_input_btn{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.verwalten_label_input{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.verwalten_label_input label{
    width: 150px;
    font-weight: 600;
}

.verwalten_label_input input{
    width: 150px;
    padding: 10px 18px;
    border-radius: 22px;
    border: 1px solid #b9baba;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.verwalten_label_input select{
    width: 150px;
    padding: 10px 18px;
    border-radius: 22px;
    border: 1px solid #b9baba;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.verwalten_label_input textarea{
    resize: vertical;       
    overflow: auto;         
    width: 100%;            
    max-width: 150px;      
    min-height: 100px;      

    padding: 10px 18px;
    border-radius: 22px;
    border: 1px solid #b9baba;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

#preis{
    margin-right: 10px;
}

.container_verwalten_btn{
    margin-bottom: 30px;
}

.container_verwalten_btn button{
    background: #1CB1B1;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 50px;
    font-weight: 600;
    cursor: pointer;
}